# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
env/
venv/

# Environment & secrets
.env
*.env

# OS / editor files
.DS_Store
Thumbs.db
*.swp
*.swo

# VSCode / IDE configs
.vscode/
.idea/

# Logs
*.log

# Streamlit cache
.streamlit/